/par_test
/src/xml-parser/parser_example
#Ignore non-extension files
/src/xml/node
/src/xml/lexer
/src/xml/util
/src/xml/parser

# Ignore test output
lex_test

# Ignore output files
*.o
*.so
*.dll
*.dylib
*.rlib

#Ignore non-source folders
build/
bin/
lib/
doc/
.rust
