/par_test
/src/xml-parser/parser_example
#Ignore non-extension files
/src/node
/src/lexer
/src/util
/src/parser

# Ignore test output
lex_test

# Ignore output files
*.o
*.so
*.dll
*.dylib
*.rlib
Cargo.lock

#Ignore non-source folders
build/
bin/
lib/
doc/
target/
.rust
