// Crate linkage metadata
#[link(name = "xml", vers = "0.1", author = "DanielFath")];

//Metadata
#[ desc = "XML pull parser for rust"];
#[ licence = "LGPL"];
#[ author = "DanielFath"];


// Make a library ("bin" is the default)
#[crate_type = "bin"];

// Forbid non_camel_case_types
#[forbid(non_camel_case_types)];

// Warn on missing docs
#[warn(missing_doc)]

pub use xml_parser::*;
pub use xml_node::*;

pub mod xml_parser;
pub mod xml_node;

fn main() {
    error!("This is an error log");
    warn!("This is a warn log");
    info!("this is an info log");
    debug!("This is a debug log");
}